.gradient-custom {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
}

.profil2 {
    background-color: rgb(14, 05, 22);
    color: aliceblue;
}

.profil1 {
    background-color: black;
    color: aliceblue;
}

.mail {
    font-size: 0.8em !important;
}